<div class="wrapper_with_padding">
  <h2>Đăng ký</h2>
  <p class="alert alert-success notice">(<strong>Note:</strong> Nếu bạn có nick facebook hay google plus thay vì đăng kí bạn hãy đăng nhập trực tiếp bằng cách click vào "Đăng nhập với Facebook hay Google")</p>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name, label: "Họ và tên", required: true, autofocus: true %>
      <%= f.input :email, required: true %>
      <%= f.input :password, label: "Mật khẩu", required: true, hint: ("Mật khẩu phải có ít nhất 8 ký tự" if @validatable) %>
      <%= f.input :password_confirmation, label: "Nhập lại mật khẩu", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Đăng ký" , class: "button" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
